<div
  class="h-[8rem] w-[30rem] bg-white flex gap-4 cursor-pointer"
  (click)="onOpenRecipe()"
>
  <img
    src="{{ recipe.url }}"
    alt="recipe-image"
    class="h-full flex items-center justify-center object-cover w-32 max-w-[8rem]"
  />
  <div class="m-w-[70%] flex flex-col items-start gap-2 justify-center">
    <p class="text-[#263a44] font-medium">{{ recipe.title }}</p>
    <span class="rounded-md bg-violet-500 text-white py-1 px-3 text-xs">{{
      recipe.category
    }}</span>
  </div>
</div>
