<div>
     <form
      action=""
      class="flex flex-col justify-center items-center gap-12 rounded-t-md border-b-0"
      [formGroup]="recipeForm"
    >
      <div class="flex gap-2 place-self-end" >
      <span class="ml-3 text-sm font-medium">Meal Recipe</span>
        <label for="default-toggle" class="inline-flex relative items-center cursor-pointer" (change)="onToggleForm()">
          <input type="checkbox" value="" id="default-toggle" class="sr-only peer">
          <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        </label>
        <span class="ml-3 text-sm font-medium">Condiment Recipe</span>
      </div>
        <div class="grid grid-cols-2">

        </div>

      <button
        type="submit"
        class="bg-[#60b158] px-8 text-white h-12 text-semibold place-self-end"
        (click)="onSubmit()"
      >
        Create Recipe
      </button>
    </form>

</div>
