<div class="recipe-form-page">
  <div class="recipe-form-control-center">
    <button class="btn-toogle-scrapper" (click)="onIsScraping()">
      <fa-icon [icon]="!scrape ? faQrcode : faPenToSquare"></fa-icon>
      {{ !scrape ? "Add recipe from link" : "Add your recipe" }}
    </button>
    <form class="type-selector" name="typeForm">
      <label for="select">Recipe Type:</label>
      <select name="select" id="" class="type-select" (change)="onIsMeal()">
        <option value="" *ngFor="let type of types">
          {{ type }}
        </option>
      </select>
    </form>
  </div>
  <div class="recipe-form-container">
    <div *ngIf="!isLoading; else loading">
      <form [formGroup]="isMeal ? recipeForm : condimentForm" class="recipe-form" (submit)="onSubmit()" *ngIf="!scrape; else scrapeView">
        <div class="form-row">
          <label for="title" class="text-[#3d3829]">Title (required)</label>
          <input type="text" name="title" formControlName="title" id="" placeholder="What is this dish called?" class="input-array" />
        </div>

        <ngx-dropzone
          ><ngx-dropzone-label class=""> <fa-icon [icon]="faCamera"></fa-icon> Upload Photos </ngx-dropzone-label></ngx-dropzone
        >
        <div class="row-meta-details" [class.hidden]="!isMeal">
          <div class="input-meta-details">
            <label for="prepTime">Cooking Duration (required)</label>
            <input type="number" name="prepTime" formControlName="prepTime" id="" placeholder="Minutes" class="input-array" />
          </div>
          <div class="input-meta-details">
            <label for="category">Category</label>
            <input type="text" name="category" id="" placeholder="Enter a category" class="input-array" />
          </div>
          <div class="input-meta-details">
            <label for="servings">Number of servings (required)</label>
            <input type="number" name="servings" formControlName="servings" placeholder="#" id="" class="input-array" />
          </div>
          <div class="input-meta-details">
            <label for="tags-input">Mood Tags (max 3)</label>
            <div class="mood-tags">
              <span *ngFor="let tag of genres" class="chip">{{ tag }}</span>
            </div>
            <input
              type="text"
              name=""
              id=""
              formControlName="moodTags"
              [(ngModel)]="moodTag"
              [(ngModel)]="moodTag"
              placeholder="Add your mood tags here"
              class="input-array"
              (keyup.enter)="addMoodTag()"
              [attr.disabled]="genres.length >= 3"
            />
          </div>
        </div>
        <div class="flex flex-col gap-8">
          <div formArrayName="instructions" class="form-row">
            <label for="instructions" class=""
              >Instructions <span> ({{ getControls("instructions").length }})</span></label
            >
            <div class="flex w-full" *ngFor="let instruction of getControls('instructions'); let i = index">
              <input
                type="text"
                name="instructions"
                [formControlName]="i"
                placeholder="After each instruction please click the button"
                id=""
                class="input-array w-full"
              />
            </div>
            <button
              type="button"
              (click)="onAddInstruction()"
              [disabled]="isMeal ? recipeForm.controls.instructions.pristine : condimentForm.controls.instructions.pristine"
              class="btn array"
            >
              Add Instructions
            </button>
          </div>
          <div formArrayName="ingredients" class="form-row">
            <label for="ingredients"
              >Ingredients <span> ({{ getControls("ingredients").length }})</span></label
            >
            <div *ngFor="let ingredient of getControls('ingredients'); let i = index">
              <input
                type="text"
                name="ingredients"
                [formControlName]="i"
                placeholder="After each ingredient please click the button"
                id=""
                class="input-array w-full"
              />
            </div>
            <button
              type="button"
              (click)="onAddIngredient()"
              class="btn array"
              [disabled]="isMeal ? recipeForm.controls.ingredients.pristine : condimentForm.controls.ingredients.pristine"
            >
              Add Ingredients
            </button>
          </div>
        </div>

        <div class="divider">
          <button type="submit" class="btn submit">
            <fa-icon [icon]="faPlus" class="pr-1"></fa-icon>
            Save Recipe
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #scrapeView>
  <app-scrapper-input-section [isMeal]="isMeal"></app-scrapper-input-section>
</ng-template>
<ng-template #loading>
  <div class="flex-col-gap4 center py-4">
    <span class="loader"></span>
    <span>Please hold tight your recipe is in the oven</span>
  </div>
</ng-template>
