.left {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.center {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
/* .right{
  grid-area: 1 / 3 / 3 / 4;
} */
.right-top{
  grid-area: 1 / 3 / 2 / 4;
}

.right-bottom{
grid-area: 2 / 3 / 3 / 4;
align-self: end;
}
.timer-bar {
  height: 78vh;
  width: 1rem;
  background: #cbd5e1;
  border-radius: 11px;
}

.color {
  background: linear-gradient(180deg, #fc413b 0%, #febc2b 100%), #cbd5e1;
}
