.recipe-card {
  display: flex;
  height: 8rem;
  background-color: white;
  gap: 1rem;
  cursor: pointer;
  .recipe-image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
  }
  .category-tag {
    border-radius: 6px;
    background-color: var(--jammaker-orange);
    font-size: 0.875rem;
    padding: 0.25rem 0.75rem;
    p {
      color: white;
    }
  }
}
