<div
  *ngIf="!loading"
  class="grid grid-cols-recipes h-full w-full gap-4 p-8 grid-rows-recipes"
>
  <!-- left column -->
  <div class="left">
    <div
      class="flex items-center justify-around gap-2 w-[41rem] h-[7rem] bg-[#F7F6F3]"
    >
      <h2 class="text-2xl flex-wrap font-bold">{{ recipe.title }}</h2>
      <div class="flex justify-center items-center gap-8">
        <span
          class="bg-[#febc2b] px-4 py-2 rounded-md flex items-center justify-center gap-3"
        >
          <fa-icon [icon]="faHeartSolid"class="hover:text-[#fc413b] cursor-pointer"></fa-icon>
          <fa-icon [icon]="faPenToSquareSolid"class="hover:text-white cursor-pointer"></fa-icon>
          <fa-icon [icon]="faTrashCanSolid"class="hover:text-white cursor-pointer"></fa-icon>
        </span>
      </div>
    </div>
    <div
      class=" h-[36rem] overflow-y-auto flex flex-col items-center justify-start p-[1.2rem] gap-4 rounded-md border-dashed border-2 border-[#4a4230] w-full "
    >
      <app-instruction-card class=""
        *ngFor="let instruction of recipe.instructions"
        [instruction]="instruction"
      ></app-instruction-card>
    </div>
  </div>

  <!-- right column -->
  <div class="flex flex-col gap-4 right">
    <app-ingredients-panel
      class="right-top"
      [ingredients]="recipe.ingredients"
    ></app-ingredients-panel>
  </div>
  <app-playlist [recipeData]="recipeData" class="right-bottom"></app-playlist>
</div>

<div *ngIf="loading"><p>loading....</p></div>
