<div class="grid grid-cols-2 h-[100vh] bg-[#FCF5E7]">
  <div class="place-self-center flex flex-col gap-14">
    <div class="flex flex-col gap-6">
      <div>
        <h1 class="text-5xl font-bold">Jammaker</h1>
        <h4 class="text-[md text-[#263a44] font-bold">
          Cook to a playlist, Not a timer!
        </h4>
      </div>
      <p class="max-w-xl text-[#263a44]">
        With Jammaker you will never have to think about what music to listen to
        while cooking. An online tool that makes it easy to create playlists
        that last exactly as long as the cooking time. Forget about your
        playlist having to stop mid-dinner, or worrying whether they will run
        out of songs by the time you cut the cheese.
      </p>
    </div>
    <a
      href="http://localhost:3000/api/v1/login"
      class="bg-[rgb(29,184,84)] py-3 pl-5 text-white rounded-md items-center flex gap-2 w-[14rem]"
    >
      <img
        src="../../assets/img/Spotify_Icon_RGB_White.png"
        alt=""
        class="h-2[rem] w-[2rem]"
      />
      login with spotify</a
    >
  </div>
  <div class="place-self-center">
    <img src="../../assets/img/hero.png" alt="" class="h-[30rem]" />
  </div>
</div>
