<form
  *ngIf="toggleEdit; else display"
  action=""
  appAutoFocus
  [formGroup]="editIngredientsForm"
  class="w-full min-h-[15rem] bg-white p-4"
>
  <h2 class="text-lg mb-4">Ingredients</h2>
  <div
    *ngFor="let ingredient of ingredients; let i = index"
    class="text-sm mb-1"
  >
    <input
      class="w-full bg-transparent border-violet-500 pb-1 border-b-2 border-dashed placeholder:text-[#4a4230]"
      type="text"
      [value]="ingredient.content"
    />
  </div>
</form>

<ng-template #display>
  <div class="bg-[#F7F6F3] w-full min-h-[15rem] p-4">
    <h2 class="text-lg mb-4">Ingredients</h2>
    <div
      *ngFor="let ingredient of ingredients; let i = index"
      class="text-sm mb-1"
    >
      <p class="w-full">{{ ingredient.content }}</p>
    </div>
  </div>
</ng-template>
<ng-template #editable let-ingredient="ingredient"> </ng-template>
