.recipes-page {
  height: 100%;
  margin: 0rem 3rem;

  .recipes-page-control-center {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem;
    .category {
      background-color: transparent;
    }
  }
  .recipes-page-main {
    container-type: inline-size;
    overflow: auto;
    border: var(--jammaker-brown) 2px dashed;
    padding: 1rem 0rem 0rem;
    height: 100%;
    border-bottom: none;

    .recipes-grid {
      display: grid;
      padding: 0 1rem;

      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
}
.btn {
  cursor: pointer;
  &.favorite {
    &:hover {
      .icon {
        color: var(--jammaker-red);
      }
    }
    .icon {
      &.hearted {
        color: var(--jammaker-red);
        &:hover {
          color: #000;
        }
      }
    }
  }
}

@container (max-width: 1024px) {
  .recipes-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@container (max-width: 765px) {
  .recipes-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
