<div class="recipes-page">
  <div class="recipes-page-control-center">
    <button (click)="displayFavorites()">
      <fa-icon [icon]="faHeart" class="favorites"></fa-icon>
      Favorities
    </button>

    <select name="" id="" [(ngModel)]="displayType" class="category">
      <option [value]="option" *ngFor="let option of options">
        {{ option }}
      </option>
    </select>
  </div>

  <div class="recipes-page-main" [ngSwitch]="displayType">
    <div *ngSwitchCase="'All Meals'" class="recipes-grid">
      <app-recipe-card
        *ngFor="let recipe of showFavorites ? favoriteMeals : meals"
        [recipe]="recipe"
      ></app-recipe-card>
    </div>
    <div *ngSwitchCase="'All Condiments'" class="recipes-grid">
      <app-recipe-card
        *ngFor="let recipe of showFavorites ? favoriteCondiments : condiments"
        [recipe]="recipe"
      ></app-recipe-card>
    </div>
    <div *ngSwitchDefault class="recipes-grid">
      <app-recipe-card
        *ngFor="let recipe of showFavorites ? favoriteRecipes : recipes"
        [recipe]="recipe"
      ></app-recipe-card>
    </div>
  </div>
</div>
