<div>
  <form
    *ngIf="toggleEdit; else display"
    action=""
    appAutoFocus
    [formGroup]="editInstructionsForm"
  >
    <div class="flex flex-col gap-2" formArrayName="instructions">
      <div *ngFor="let instruction of instructions; let i = index">
        <textarea
          name=""
          [formControlName]="i"
          [value]="instruction.content"
          id=""
          class="w-[38rem] min-h-[9.375rem] bg-white items-center p-4 border-violet-500 pb-1 border-b-2 border-dashed"
        ></textarea>
      </div>
    </div>
  </form>

  <ng-template #display let-instruction="instruction">
    <div class="flex flex-col gap-2">
      <div *ngFor="let instruction of instructions; let i = index">
        <p class="w-[38rem] min-h-[9.375rem] bg-[#F7F6F3] items-center p-4">
          {{ instruction.content }}
        </p>
      </div>
    </div>
  </ng-template>
</div>
