<div *ngIf="!isLoading; else loading" class="flex flex-col gap-6">
  <div class="flex justify-between items-center">
    <button
      class="py-3 px-8 border-2 rounded-md border-[#3d3829] min-w-[16rem]"
      (click)="onIsScraping()"
    >
      <fa-icon [icon]="!scrape ? faQrcode : faPenToSquare"></fa-icon>
      {{ !scrape ? "Add recipe from link" : "Add your recipe" }}
    </button>
    <div class="flex gap-2">
      <span class="ml-3 text-sm font-medium">Meal Recipe</span>
      <label
        for="default-toggle"
        class="inline-flex relative items-center cursor-pointer"
        (change)="onIsMeal()"
      >
        <input
          type="checkbox"
          value=""
          id="default-toggle"
          class="sr-only peer"
        />
        <div
          class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full border-[#F0EDE5]-1 peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
        ></div>
      </label>
      <span class="ml-3 text-sm font-medium">Condiment Recipe</span>
    </div>
  </div>
  <div class="bg-white w-[60rem] rounded-xl flex justify-center items-center">
    <div class="p-10 w-full relative">
      <form
        [formGroup]="isMeal ? recipeForm : condimentForm"
        class="flex flex-col gap-8"
        (submit)="onSubmit()"
        *ngIf="!scrape; else scrapeView"
      >
        <div class="flex flex-col gap-2">
          <label for="title" class="text-[#3d3829]">Title (required)</label>
          <input
            type="text"
            name="title"
            formControlName="title"
            id=""
            placeholder="What is this dish called?"
            class="py-2 rounded-lg pl-4 flex-grow bg-[#EFECE6] bg-opacity-70 placeholder:text-[#3d3829] placeholder:text-opacity-50"
          />
        </div>

        <ngx-dropzone
          ><ngx-dropzone-label class="">
            <fa-icon [icon]="faCamera"></fa-icon> Upload Photos
          </ngx-dropzone-label></ngx-dropzone
        >

        <div class="flex justify-between" [class.hidden]="!isMeal">
          <div class="flex flex-col justify-evenly gap-2">
            <label for="prepTime">Cooking Duration (required)</label>
            <input
              type="number"
              name="prepTime"
              formControlName="prepTime"
              id=""
              placeholder="Minutes"
              class="py-2 rounded-lg pl-4 bg-[#EFECE6] w-[13rem] bg-opacity-70 placeholder:text-[#3d3829] placeholder:text-opacity-50"
            />
          </div>
          <div class="flex flex-col justify-between gap-2">
            <label for="category">Category</label>
            <input
              type="text"
              name="category"
              id=""
              placeholder="Enter a category"
              class="py-2 rounded-lg bg-[#EFECE6] bg-opacity-70 pl-4 w-[13rem] placeholder:text-[#3d3829] placeholder:text-opacity-50"
            />
          </div>
          <div class="flex flex-col justify-between gap-2">
            <label for="servings">Number of servings (required)</label>
            <input
              type="number"
              name="servings"
              formControlName="servings"
              placeholder="#"
              id=""
              class="py-2 rounded-lg pl-4 bg-[#EFECE6] bg-opacity-70 w-[13rem] placeholder:text-[#3d3829] placeholder:text-opacity-50"
            />
          </div>
          <div class="flex flex-col justify-between">
            <label for="select">Music Genre</label>
            <select
              name="genre"
              id=""
              class="rounded-md py-2 bg-[#febc2b] pl-2 w-[13rem]"
            >
              <option value="" *ngFor="let genre of genres">
                {{ genre }}
              </option>
            </select>
          </div>
        </div>

        <div
          formArrayName="instructions"
          class="flex flex-col gap-2 justify-between"
        >
          <label for="instructions" class=""
            >Instructions
            <span class="font-normal">
              ({{ getControls("instructions").length }})</span
            ></label
          >
          <div
            class="flex w-full"
            *ngFor="
              let instruction of getControls('instructions');
              let i = index
            "
          >
            <input
              type="textarea"
              name="instructions"
              [formControlName]="i"
              placeholder="After each instruction please click the button"
              id=""
              class="py-2 rounded-tl-md bg-[#EFECE6] bg-opacity-70 rounded-bl-md pl-4 w-full placeholder:text-[#3d3829] placeholder:text-opacity-50"
            />
          </div>
          <button
            type="button"
            (click)="onAddInstruction()"
            [disabled]="
              isMeal
                ? recipeForm.controls.instructions.pristine
                : condimentForm.controls.instructions.pristine
            "
            class="bg-[#884fc4] pl-4 py-2 text-white rounded-md px-2 first-letter: w-[20%] place-self-end disabled:bg-opacity-25"
          >
            Add Instructions
          </button>
        </div>

        <div
          formArrayName="ingredients"
          class="flex flex-col gap-2 justify-between"
        >
          <label for="ingredients"
            >Ingredients
            <span class="font-normal">
              ({{ getControls("ingredients").length }})</span
            ></label
          >
          <div
            class="flex w-full"
            *ngFor="let ingredient of getControls('ingredients'); let i = index"
          >
            <input
              type="textarea"
              name="ingredients"
              [formControlName]="i"
              placeholder="After each ingredient please click the button"
              id=""
              class="py-2 rounded-tl-md rounded-bl-md pl-4 bg-[#EFECE6] bg-opacity-70 w-full placeholder:text-[#3d3829] placeholder:text-opacity-50"
            />
          </div>
          <button
            type="button"
            (click)="onAddIngredient()"
            class="bg-[#884fc4] text-white py-2 rounded-md w-[20%] px-2 place-self-end disabled:bg-opacity-25"
            [disabled]="
              isMeal
                ? recipeForm.controls.ingredients.pristine
                : condimentForm.controls.ingredients.pristine
            "
          >
            Add Ingredients
          </button>
        </div>
        <div class="border-t-2 border-dashed w-full flex flex-col">
          <button
            type="submit"
            class="bg-[#60b158] rounded-xl w-[20%] place-self-end text-white py-3 px-8 mt-2"
          >
            <fa-icon [icon]="faPlus" class="pr-1"></fa-icon>
            Save Recipe
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #scrapeView>
  <app-scrapper-input-section [isMeal]="isMeal"></app-scrapper-input-section>
</ng-template>

<ng-template #loading>
  <div class="flex flex-col items-center justify-center gap-3">
    <div role="status">
      <svg
        class="mr-2 w-12 h-12 text-gray-200 animate-spin dark:text-gray-400 fill-violet-500"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>

      <span class="sr-only">Loading...</span>
    </div>
    <p>Creating Recipe....</p>
  </div>
</ng-template>
